@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Raleway', sans-serif !important;
}

.navbarr {
    background-color: transparent !important;
}

.nav-right {
    justify-content: end;
}

.navbar-nav {
    gap: 26px;
}

.nav-item a {
    font-size: 14px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    color: #000;
}

#sec-one {
    padding: 60px 0;
    background: url("/assets/img/slide-1.jpg");

    .sec-one-content {
        padding: 80px 0;

        .sec-one-text-content {
            padding: 80px 0;

            h4 {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 30px;
            }

            h3 {
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 40px;
                text-transform: uppercase;
            }

            p {
                width: 38%;
                font-size: 18px;
                line-height: 1.6;
                margin-bottom: 40px;
            }

            button {
                height: 51px;
                width: 200px;
                color: #fff;
                border: 0;
                background-color: #26b7e7;
                font-weight: 600;
            }
        }
    }
}


#sec-two {
    padding: 60px 0;

    .sec-two-content {
        padding: 60px 0;

        .cardss {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;

            .cardd {
                width: 360px !important;

                .card-content {
                    text-align: center;
                    width: 360px;
                    margin: 0 auto;

                    .iconDiv {
                        border: 1px solid #26b7e7;
                        width: 60px;
                        height: 60px;
                        margin: 0 auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 30px;

                        i {
                            font-size: 30px;
                        }
                    }

                    h3 {
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 24px;
                        margin-bottom: 20px;
                    }

                    p {
                        margin-bottom: 40px;
                    }

                    button {
                        border: 0;
                        border-radius: 6px;
                        padding: 10px 29px;
                        background-color: #26b7e7;
                        color: #fff;
                        font-weight: 500;
                    }
                }
            }

        }

    }
}


#sec-three{
    padding: 60px 0;
    .sec-three-content{
        .sec-three-text-content{
            text-align: center;
            p{
                width: 70%;
                margin: 0 auto;
            }
        }
        .sec-three-cards{
            padding: 60px 0;
            .card-content{
                width: 270px;
                img{
                    width: 100%;
                }
            }
        }
    }
}
footer{
    background-color: #000;
    p{
        text-align: center;
        padding: 20px 0;
        margin: 0;
        color: #fff;
    }
}

@media only screen and (max-width: 400px) {
    #sec-two {
        padding: 60px 0;

        .sec-two-content {
            padding: 60px 0;

            .cardss {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 40px;

                .cardd {
                    width: 360px !important;

                    .card-content {
                        text-align: center;
                        width: 270px;
                        margin: 0 auto;
                    }
                }

            }

        }
    }
}